<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/From.css" rel="stylesheet">
    <title>Crear Producto</title>
</head>
<body>
    <div class="container text-center center-screen login-box">
        <h1 class="my-4">Crear Producto</h1>
        <form id="fromProduct" class="text-left">
            <div class="form-group user-box">
                <input type="text" id="descripcion" name="descripcion" class="form-control" required>
                <label for="descripcion">Descripción:</label>
            </div>
            <div class="form-group user-box">
                <input type="text" id="precio" name="precio" class="form-control" required>
                <label for="precio">Precio:</label>
            </div>
            <div class="form-group user-box">
                <input type="text" id="stock" name="stock" class="form-control" required>
                <label for="stock">Stock:</label>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-block">Guardar Producto</button>
            </div>
        </form>
        <ul class="nav justify-content-center mt-4">
            <li class="nav-item mr-2">
                <a class="btn btn-secondary" href="../MenúProducts.html">
                    <i class="fas fa-arrow-left"></i> Volver al menú
                </a>
            </li>
            <li class="nav-item ml-2">
                <a class="btn btn-secondary" href="../MenúPrimary.html">
                    <i class="fas fa-home"></i> Menú principal
                </a>
            </li>
        </ul>
    </div>

    <script src="https://kit.fontawesome.com/bd0eea510a.js" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="module" src="../../crudActions/crudProducts/createProducts.js" ></script>
</body>
</html>
