body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #212121;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input,
.login-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  appearance: none;
}

.login-box .user-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.login-box .user-box label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

/* Estilo para el select */
.form-control {
  /* Estilos generales */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  /* Otros estilos específicos */
}

/* Estilo para los options */
.form-control option {
  font-size: 16px;
  color: #333;
}


.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box select:focus ~ label,
.login-box .user-box select:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a,
.login-box form button,
ul.nav li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: #6dd5fa;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-box form a:hover,
.login-box form button:hover,
ul.nav li a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.login-box form a span,
.login-box form button span,
ul.nav li a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.login-box form a span:nth-child(1),
.login-box form button span:nth-child(1),
ul.nav li a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}

/* Estilo para ul y li */
ul.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

ul.nav li {
  margin: 0 10px;
}
