<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/Menu.css" rel="stylesheet">
    <title>Documento</title>
</head>
<body>

    <h1 class="my-4" id="welcome-message">Menú de Clientes</h1>

    <div class="container text-center center-screen">
        <p>Selecciona una opción de abajo para gestionar clientes.</p>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudClientsTemplates/createClient.html">
                    <i class="fas fa-user-md"></i> Crear cliente
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudClientsTemplates/deleteClient.html">
                    <i class="fas fa-user-minus"></i> Eliminar cliente
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudClientsTemplates/updateClient.html">
                    <i class="fas fa-user-edit"></i> Actualizar cliente
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudClientsTemplates/consultClient.html">
                    <i class="fas fa-users"></i> Consultar clientes
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./MenúPrimary.html">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>
            </li>
        </ul>
    </div>

    <script src="https://kit.fontawesome.com/bd0eea510a.js" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>


