<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/Menu.css" rel="stylesheet">
    <title>Sistema de Gestión - Menú Producto</title>
</head>
<body>

        <h1 class="my-4" id="welcome-message">Menú de Productos</h1>

    <div class="container text-center center-screen">
        <p>Selecciona una opción de abajo para gestionar productos.</p>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudProductsTemplates/createProducts.html">
                    <i class="fas fa-plus-circle"></i> Registrar producto
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudProductsTemplates/deleteProducts.html">
                    <i class="fas fa-minus-circle"></i> Eliminar producto
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudProductsTemplates/updateProducts.html">
                    <i class="fas fa-edit"></i> Actualizar producto
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./crudProductsTemplates/consultProduct.html">
                    <i class="fas fa-search"></i> Consultar productos
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary box" href="./MenúPrimary.html">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>
            </li>
        </ul>
    </div>

        <script src="https://kit.fontawesome.com/bd0eea510a.js" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>
